@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Nunito;
    margin: 0;
    padding: 0;
}

/* Navigation */
nav{
    display: flex;
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: #447da8;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 5px;
}

nav ul{
    display: flex;
    width: 400px;
    padding-left: 0;
    height: 100%;
}

nav ul a{
    flex-basis: 25%;
    text-decoration: none;
    height: 100%;
    border-radius: 10px;
}

nav ul a li{
    list-style-type: none;
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
}

nav ul a:hover{
    background-color: #0e1527;
}

/* Header */
.jumbotron{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    border-top: 8px solid #44545c;
    border-bottom: 8px solid #44545c;
    font-family: Oswald;
}

.jumbotron h1{
    color: #ffffff;
    font-size: 16vw;
}
/* Main */
main{
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #6c7486;
}

.container{
    display: flex;
    height: fit-content;
}

.content{
    flex-basis: 100%;
    margin: 10px;
    padding-bottom: 20px;
}
/* Container Pertama */
.title{
    width: fit-content;
    margin: 15px auto;
    text-align: center;
}

.title p{
    width: fit-content;
    font-size: 54px;
    margin: auto;
}

.text{
    margin: 10px auto;
    width: 90%;
    text-indent: 32px;
    text-align: justify;
}

/* Container Kedua */
.flex{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    margin: 10px auto;
}

.flex-container{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.showcard{
    flex-basis: 30%;
    margin: 10px;
    height: 100%;
    border-radius: 10px;
    background-color: #3d4657;
}

.showcard header{
    width: fit-content;
    margin: 10px auto;
    font-family: Oswald;
    color: white;
}

.showcard img{
    display: block;
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 10px;
}

.showcard p{
    width: 30%;
    padding: 5px;
    margin: 20px auto;
    margin-top: 25px;
    text-align: center;
    border-radius: 10px;
    background-color: #447da8;
    opacity: 0.6;
}

.showcard a{
    text-decoration: none;
}

.showcard p:hover{
    opacity: 1;
    background-color: #0e1527;
}

#list .button{
    width: fit-content;
    padding: 5px;
    margin: 15px auto 15px auto;
    text-align: center;
    border-radius: 10px;
    opacity: 0.6;
}

#list .button a{
    text-decoration: none;
}

#list .button a:hover{
    text-decoration: underline;
}

/* Container Ketiga */
.third{
    padding: 10px;
}

.left{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}

.left article{
    flex-basis: 100%;
}

.up{
    margin: 0 5px 5px 0;
    padding-bottom: 10px;
}

.bottom{
    margin: 5px 5px 0 0;
    height: fit-content;
}

.bottom h6{
    margin: 0;
}

.bottom div{
    width: 90%;
    margin: 40px auto;
    height: fit-content;
    display: flex;
}

.bottom div p{
    flex-basis: 30%;
    margin: auto;
    display: flex;
    width: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.whatsapp::before{
    background-image: url(../images/logo/whatsapp.svg);
}

.email::before{
    background-image: url(../images/logo/email.svg);
}

.instagram::before{
    background-image: url(../images/logo/instagram.svg);
}

.svg::before{
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    color: white;
}

/* Aside */
aside{
    flex-basis: 20%;
    display: block;
    margin-left: 5px;
}

aside header{
    width: fit-content;
    margin: 20px auto;
}

aside img{
    display: block;
    width: 60%;
    height: 180px;
    object-fit: cover;
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
}

aside table{
    margin: 10px auto;
    width: 50%;
}


th, td{
    text-align: left;
    padding: 5px 0;
}

/* Footer */
footer{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #213453;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
}

/* Additional */
.card{
    background-color: #0e1527;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #213453;
}

.text-white{
    color: white;
}

@media screen and (max-width: 1000px) {
    .flex-container{
        flex-direction: column;
    }

    .third{
        flex-direction: column;
    }

    .showcard{
        width: 70%;
        padding-bottom: 0;
    }

    .up, .bottom, aside{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .bottom{
        margin-top: 10px;
    }

    .left{
        margin-bottom: 10px;
    }

    .bottom div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bottom div p{
        margin: 5px;
    }
}

@media screen and (max-width: 600px) {
    .showcard img{
        width: 150px;
        height: 150px;
    }
}